footer {
    background: $secundary-color;
    padding: 25px 0;
    color: $white;

    a {
        color: $white;
        &:hover {
            color: $white;
        }
    }

    h4{
        font-size: 20px;
        color: $primary-color;
    }

    ul {
        li.ellipsis {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}